name: algolia
on:
  push:
    branches:
      - master
jobs:
  algolia:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Scan local posts and generate dynamic config
        id: generate_config
        run: |
          base_url="https://blog.suzhibin.cn"
          url_array=()
          while IFS= read -r file; do
            file="${file#./}"
            path_without_ext="${file%.md}"
            url="$base_url/$path_without_ext"
            url_array+=("\"$url\"")
          done < <(find ./posts -type f -name "*.md" | sort)
          url_list_str="${url_array[*]}"
          url_list_str="${url_list_str// /,}"
          echo "$url_list_str"
          
          cat > crawlerConfig.json << EOF
          {
            "index_name": "suzhibin",
            "start_urls": [$url_list_str],
            "stop_urls": [
              "/tags/",
              "/categories/",
              "/page/",
              "/pages/"
            ],
            "selectors": {
              "lvl0": {
                "selector": "",
                "default_value": "Blog Post"
              },
              "lvl1": "#app .main-layout .post h1",
              "lvl2": "#app .main-layout .post h2",
              "lvl3": "#app .main-layout .post h3",
              "lvl4": "#app .main-layout .post h4",
              "category": "#app .main-layout .post .cat-item span",
              "tags": "#app .main-layout .post .tag-item span",
              "content": "#app .main-layout .post .markdown-main-style"
            },
            "selectors_exclude": [
              ".main-header",
              ".footer-link",
              ".main-footer",
              ".home"
            ],
            "js_render": true,
            "js_wait": 2,
            "max_depth": 0
          }
          EOF
          
          echo "config=$(cat crawlerConfig.json | jq -r tostring)" >> $GITHUB_OUTPUT
      - name: Push indices to Algolia
        uses: signcl/docsearch-scraper-action@master
        env:
          APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
          API_KEY: ${{ secrets.API_KEY }}
          CONFIG: ${{ steps.generate_config.outputs.config }}
