name: algolia
on:
  push:
    branches:
      - master
jobs:
  algolia:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run Algolia Crawler
        env:
          APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
          API_KEY: ${{ secrets.API_KEY }}
        run: |
          docker pull algolia/crawler:latest
          docker run --rm \
            --env APPLICATION_ID=$APPLICATION_ID \
            --env API_KEY=$API_KEY \
            --env CONFIG="$(cat crawlerConfig.json)" \
            algolia/crawler:latest
