name: algolia
on:
  push:
    branches:
      - master
jobs:
  algolia:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Crawl site with Algolia's official crawler
        uses: crawlerprod/github-action@v1
        with:
          config_file_path: 'crawlerConfig.json'
          algolia_app_id: ${{ secrets.APPLICATION_ID }}
          algolia_api_key: ${{ secrets.API_KEY }}
