name: algolia
on:
  push:
    branches:
      - master
jobs:
  algolia:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run Official Algolia Crawler
        env:
          ALGOLIA_APP_ID: ${{ secrets.APPLICATION_ID }}
          ALGOLIA_API_KEY: ${{ secrets.API_KEY }}
          CONFIG_FILE: 'crawlerConfig.json'
        run: |
          curl -L https://raw.githubusercontent.com/algolia/docsearch-scraper/master/run.sh | bash
